*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #CBBEAB;
  scrollbar-width: 0;
}

body::-webkit-scrollbar {
  display: none;
}

.hide {
  display: none !important;
}

a {
  color: #FCFCFC;
  text-decoration: none;
}

.container, .authors, .books, .gallery, .edit, .contact {
  width: 80%;
  margin: 0 auto;
}

.cta, .footer .espace-mail .form .Subscribe, .footer .espace-mail .contact .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .Subscribe {
  color: #fff;
  display: block;
  border: none;
  outline: none;
  border-radius: 23px;
  padding: 0.9rem 1.5rem !important;
  background-color: #CBBEAB;
  width: 100px;
  text-align: center;
}

.separation {
  min-height: 60px;
  margin: 2.5rem auto;
  background-color: #2A361F;
  border-radius: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.separation h1 {
  color: #fff;
  text-align: center;
}

.form, .contact .formulaire-msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .form, .contact .formulaire-msg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.form .form-fild, .contact .formulaire-msg .form-fild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0.9rem;
}

.form .form-fild:not(.authors), .contact .formulaire-msg .form-fild:not(.authors) {
  width: calc(40% - 0.9rem);
  margin-bottom: 0;
}

.form .form-fild label, .contact .formulaire-msg .form-fild label {
  display: block;
}

.form .form-fild input, .contact .formulaire-msg .form-fild input,
.form .form-fild select,
.contact .formulaire-msg .form-fild select,
.form .form-fild .textarea,
.contact .formulaire-msg .form-fild .textarea {
  width: 80%;
  padding: 0.9rem;
  border-radius: 4px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.6);
}


.form .form-fild .textarea,
.contact .formulaire-msg .form-fild .textarea {
  width: 92.4%;
  resize: none;
  height: 90px;
  background-color: #fff;
}

.form .form-fild .textarea .input, .contact .formulaire-msg .form-fild .textarea .input {
  position: relative;
  display: inline-block;
}

.form .form-fild .textarea .input .suggestions, .contact .formulaire-msg .form-fild .textarea .input .suggestions {
  position: absolute;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border-radius: 4px;
}

.form .form-fild .textarea .input .suggestions .suggestion, .contact .formulaire-msg .form-fild .textarea .input .suggestions .suggestion {
  display: block;
  padding: 0.9rem;
  cursor: pointer;
  font-size: 1.3rem;
}

.form .form-fild .textarea .input .suggestions .suggestion:hover, .contact .formulaire-msg .form-fild .textarea .input .suggestions .suggestion:hover {
  color: #CBBEAB;
  background-color: rgba(42, 54, 31, 0.7);
}

.form .form-fild .textarea .author, .contact .formulaire-msg .form-fild .textarea .author {
  display: inline-block;
  padding: 0.6rem 0.9rem;
  background-color: #CBBEAB;
  border-radius: 4px;
  margin-right: 0.6rem;
}

.form .form-fild .textarea .author .close-icon, .contact .formulaire-msg .form-fild .textarea .author .close-icon {
  width: 9px;
  cursor: pointer;
}

.form .form-fild .textarea .author .close-icon:hover, .contact .formulaire-msg .form-fild .textarea .author .close-icon:hover {
  -webkit-filter: opacity(0.7);
          filter: opacity(0.7);
}

.form .form-fild .textarea input, .contact .formulaire-msg .form-fild .textarea input {
  border: none;
  padding: 0;
  font-size: 1.2rem;
}

.form .form-fild .file, .contact .formulaire-msg .form-fild .file {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 350px;
  position: relative;
  border-radius: 4px;
}

.form .form-fild .file .close-icon, .contact .formulaire-msg .form-fild .file .close-icon {
  cursor: pointer;
  position: absolute;
  right: 0.3rem;
  z-index: 999;
  top: 0.3rem;
}

.form .form-fild .file .placeholder, .contact .formulaire-msg .form-fild .file .placeholder {
  width: 100%;
  color: #fff;
  position: relative;
  z-index: 9;
  line-height: 24.5px;
  color: #CBBEAB;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form .form-fild .file .placeholder img, .contact .formulaire-msg .form-fild .file .placeholder img {
  display: block;
}

.form .form-fild .file-image, .contact .formulaire-msg .form-fild .file-image {
  position: absolute;
  z-index: 99;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.form .form-fild .file input[type="file"], .contact .formulaire-msg .form-fild .file input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
}

.form .right, .contact .formulaire-msg .right {
  width: 76%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form .cta, .contact .formulaire-msg .cta, .footer .espace-mail .form .Subscribe, .footer .espace-mail .contact .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .Subscribe {
  background-color: #2A361F;
  cursor: pointer;
  width: 20%;
}

.table {
  background-color: #fff;
  border-radius: 23px;
  margin: 1.5rem 0;
  padding: 2.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table table {
  border-spacing: 5px;
}

.table table td:not(:last-child) {
  border-radius: 23px;
}

.table table td .cta, .table table td .footer .espace-mail .form .Subscribe, .footer .espace-mail .form .table table td .Subscribe, .table table td .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .formulaire-msg .table table td .Subscribe, .table table td .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .table table td .Subscribe {
  background-color: #CBBEAB;
  display: inline-block;
}

.table table td:not(:last-child),
.table table th:not(:last-child) {
  background-color: #CBBEAB;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0.6rem 1.5rem;
  width: 120px;
}

.table table th {
  background-color: #CBBEAB;
  border-radius: 4px !important;
}

.table table td:last-child {
  text-align: center;
}

.table table td:first-child,
.table table th:first-child {
  padding: 0;
  width: 70px;
}

.main-navbar {
  position: relative;
  height: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

@media screen and (min-width: 720px) {
  .main-navbar {
    position: static;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.main-navbar * {
  z-index: 99;
}

.main-navbar .overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  z-index: 10;
  background-color: #2A361F;
  width: 80%;
  border-bottom-right-radius: 80px;
  height: 71px;
}

.main-navbar .nav-left {
  width: 10%;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-left {
    background-color: transparent;
  }
}

.main-navbar .nav-left .logo {
  padding: 0.9rem;
}

.main-navbar .nav-left .logo img {
  height: 2.5rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-left .logo {
    width: auto;
    max-height: 100%;
  }
}

.main-navbar .nav-menu {
  list-style: none;
  padding: 0.9rem;
  background-color: #2A361F;
  -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: block;
  padding-top: 3rem;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  opacity: .1;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-out;
  transition: opacity 250ms linear, transform 250ms ease-out;
  transition: opacity 250ms linear, transform 250ms ease-out, -webkit-transform 250ms ease-out;
  -webkit-transition-delay: 20ms;
          transition-delay: 20ms;
  width: 70%;
  height: 70vh;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 1.1rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: unset;
    padding-top: 0.9rem;
    -webkit-transform: unset;
            transform: unset;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 0 1.5rem;
    opacity: 1;
  }
  .main-navbar .nav-menu li:first-child a {
    padding-left: 0;
  }
}

.main-navbar .nav-menu.show {
  display: block;
  opacity: 1;
  -webkit-transform: scaleX(100%);
          transform: scaleX(100%);
}

.main-navbar .nav-menu a {
  display: block;
  padding: 0.9rem 1.5rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .nav-menu a {
    padding: 0.9rem;
  }
}

.main-navbar .cta_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  padding: 0.9rem;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper {
    width: 20%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.main-navbar .cta_wrapper .cta, .main-navbar .cta_wrapper .footer .espace-mail .form .Subscribe, .footer .espace-mail .form .main-navbar .cta_wrapper .Subscribe, .main-navbar .cta_wrapper .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .formulaire-msg .main-navbar .cta_wrapper .Subscribe, .main-navbar .cta_wrapper .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .main-navbar .cta_wrapper .Subscribe {
  margin: 0 auto;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper .cta, .main-navbar .cta_wrapper .footer .espace-mail .form .Subscribe, .footer .espace-mail .form .main-navbar .cta_wrapper .Subscribe, .main-navbar .cta_wrapper .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .formulaire-msg .main-navbar .cta_wrapper .Subscribe, .main-navbar .cta_wrapper .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .main-navbar .cta_wrapper .Subscribe {
    right: 10px;
    top: 10px;
    margin: 0;
  }
}

.main-navbar .cta_wrapper .burger-icon {
  display: block;
  background-color: transparent;
  background-image: url("../../img-books/burger-menu.svg");
  background-size: 100%;
  background-position: center center;
  border: none;
  outline: none;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  right: 20px;
  top: 4px;
  cursor: pointer;
  z-index: 999;
}

@media screen and (min-width: 720px) {
  .main-navbar .cta_wrapper .burger-icon {
    display: none;
  }
}

.home {
  height: 100vh;
  overflow: hidden;
}

.home-title {
  position: relative;
  height: 100%;
  color: #fff;
}

.home-title .img-1 {
  position: absolute;
  width: 100%;
  height: 100%;
}

.home-title img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-title .description {
  padding: 3rem 0.9rem;
  position: relative;
  z-index: 99;
  width: 60%;
}

.home-title .description .titre-home {
  font-size: 2.3rem;
}

.authors {
  width: 80%;
  margin: 0 auto;
}

.authors .cta, .authors .footer .espace-mail .form .Subscribe, .footer .espace-mail .form .authors .Subscribe, .authors .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .formulaire-msg .authors .Subscribe, .authors .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .authors .Subscribe {
  width: auto;
}

.authors .form .form-fild, .authors .contact .formulaire-msg .form-fild, .contact .authors .formulaire-msg .form-fild {
  width: 28%;
}

.books .form-fild {
  margin-right: 0.9rem;
}

.books .form-fild:first-child {
  width: 23%;
}

.books .form .right .authors, .books .contact .formulaire-msg .right .authors, .contact .books .formulaire-msg .right .authors {
  width: 100%;
  margin-right: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.books .form .right .authors label, .books .contact .formulaire-msg .right .authors label, .contact .books .formulaire-msg .right .authors label {
  margin-top: 0.9rem;
}

.gallery .form, .gallery .contact .formulaire-msg, .contact .gallery .formulaire-msg {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 720px) {
  .gallery .form, .gallery .contact .formulaire-msg, .contact .gallery .formulaire-msg {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.gallery .form-fild {
  margin-bottom: 0.9rem;
  width: 100%;
}

@media screen and (min-width: 720px) {
  .gallery .form-fild {
    width: 30%;
    margin: 0;
    margin-right: 0.9rem;
  }
}

.gallery .form-fild select {
  margin-left: 0.9rem;
}

@media screen and (min-width: 720px) {
  .gallery .form-fild input[type="number"] {
    width: 60%;
  }
}

.gallery .form .cta, .gallery .contact .formulaire-msg .cta, .contact .gallery .formulaire-msg .cta, .gallery .footer .espace-mail .form .Subscribe, .footer .espace-mail .gallery .form .Subscribe, .gallery .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .gallery .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .gallery .formulaire-msg .Subscribe, .gallery .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .gallery .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .gallery .formulaire-msg .Subscribe {
  width: 100%;
  background-color: #2A361F;
}

@media screen and (min-width: 720px) {
  .gallery .form .cta, .gallery .contact .formulaire-msg .cta, .contact .gallery .formulaire-msg .cta, .gallery .footer .espace-mail .form .Subscribe, .footer .espace-mail .gallery .form .Subscribe, .gallery .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .gallery .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .gallery .formulaire-msg .Subscribe, .gallery .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .gallery .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .gallery .formulaire-msg .Subscribe {
    width: unset;
  }
}

.gallery-images {
  margin: 2.5rem 0;
}

@media screen and (min-width: 720px) {
  .gallery-images .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.gallery-images .images .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 220px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

@media screen and (min-width: 720px) {
  .gallery-images .images .card {
    width: 31.33333%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

@media screen and (min-width: 980px) {
  .gallery-images .images .card {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
  }
}

.gallery-images .images .card img {
  width: 100%;
  display: block;
}

.gallery-images .images .card .text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-images .images .card .text > * {
  width: 50%;
}

.gallery-images .images .card .text .title {
  width: 100%;
  margin-top: 0.6rem;
  color: #2A361F;
}

.gallery-images .images .card .text .title .prix {
  color: #333;
  font-size: .8rem;
  float: right;
}

.gallery-images .images .card .text .title::after {
  clear: both;
}

.gallery-images .images .card .text .author {
  font-size: .9rem;
}

.gallery-images .images .card .text .author a {
  color: rgba(42, 54, 31, 0.8);
}

.edit {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit .form, .edit .contact .formulaire-msg, .contact .edit .formulaire-msg {
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit .form-fild {
  width: 100%;
  margin-top: 0.9rem;
}

.edit .form .right, .edit .contact .formulaire-msg .right, .contact .edit .formulaire-msg .right {
  width: 100%;
}

.edit .form .cta, .edit .contact .formulaire-msg .cta, .contact .edit .formulaire-msg .cta, .edit .footer .espace-mail .form .Subscribe, .footer .espace-mail .edit .form .Subscribe, .edit .footer .espace-mail .contact .formulaire-msg .Subscribe, .footer .espace-mail .edit .contact .formulaire-msg .Subscribe, .footer .espace-mail .contact .edit .formulaire-msg .Subscribe, .edit .contact .footer .espace-mail .formulaire-msg .Subscribe, .contact .edit .footer .espace-mail .formulaire-msg .Subscribe, .contact .footer .espace-mail .edit .formulaire-msg .Subscribe {
  margin-top: 0.9rem;
}

.contact .formulaire-msg {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 2.5rem;
}

.contact .formulaire-msg .col {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .formulaire-msg .col textarea {
  width: 100%;
  height: 150px;
  margin: 0 0.9rem;
  padding: 0.9rem;
  margin-bottom: 0.9rem;
  border-radius: 4px;
}

.contact .formulaire-msg .col .form-fild {
  width: 50%;
  padding: 0 0.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact .formulaire-msg .col .form-fild input {
  width: 100%;
  margin-bottom: 0.9rem;
}

.contact .formulaire-msg .col .errors {
  margin-bottom: 0.9rem;
}

.footer {
  background-color: #2A361F;
  color: #fff;
}

.footer-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 150px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-con .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.footer-con .icon li {
  padding: 0 0.9rem 0 0;
}

.footer .espace-mail {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .espace-mail .form, .footer .espace-mail .contact .formulaire-msg, .contact .footer .espace-mail .formulaire-msg {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 70%;
  margin: 0;
}

.footer .espace-mail .form .form-fild, .footer .espace-mail .contact .formulaire-msg .form-fild, .contact .footer .espace-mail .formulaire-msg .form-fild {
  width: 70%;
  margin-right: 0.9rem;
}

.footer .espace-mail .form .form-fild input, .footer .espace-mail .contact .formulaire-msg .form-fild input, .contact .footer .espace-mail .formulaire-msg .form-fild input {
  width: 100%;
}

.footer .espace-mail .form .Subscribe, .footer .espace-mail .contact .formulaire-msg .Subscribe, .contact .footer .espace-mail .formulaire-msg .Subscribe {
  width: 30%;
  background-color: #d7cdbf;
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */