.contact {
  @extend .container;
  .formulaire-msg {
    @extend .form;
    flex-wrap: wrap;
    margin-bottom: $spacing_lg;
    .col {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      textarea {
        width: 100%;
        height: 150px;
        margin: 0 $spacing_sm;
        padding: $spacing_sm;
        margin-bottom: $spacing_sm;
        border-radius: $border_radius;
      }
      .form-fild {
        width: 50%;
        padding: 0 $spacing_sm;
        flex-wrap: wrap;
        input {
          width: 100%;
          margin-bottom: $spacing_sm;
        }
      }
      .errors {
        margin-bottom: $spacing_sm;
      }
    }
  }
}
